/* .sicky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fefefe;
}

#meuheader .logo img.sticky{
    width: 60px;
}

.sticky + .content{
    padding-top: 102px;
} */